[user]
	email = sinai471530@gmail.com
	name = sasuseso
[core]
	quotepath = false
[color]
	ui = auto

[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = sasuseso
